.report-page {
    padding: 100px;
    zoom: 0.67;
}

.report-page__title {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.report-page ul {
    list-style-type: none;
}
.report-page ul li:not(:last-child) {
    margin-bottom: 10px;
}