.select-wlabel {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.select-wlabel select{
    transition: all 0.3s;
    background-color: white;
    color: rgba(0, 98, 255, 1);
    border: 3px solid white;
    border-radius: 8px;
    font-size: 30px;
    font-weight: bold;
    height: 100%;
    padding: 15px;
}